{% extends "layout.html" %}
{% block title %}<!-- products-breadcrumb -->
    <div class="products-breadcrumb">
        <div class="container">
            <ul>
                <li><i class="fa fa-home" aria-hidden="true"></i><a href="/admin/adminpage">Home</a><span>|</span></li>
                <li>Add Category</li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block main %}
  <div class=" w3l_banner_nav_right ">
  
  <div class="agileinfo_mail_grids">
    
   <form action="/admin/addCategoryPost" method="POST" role="form" enctype="multipart/form-data" >
      <div class="col-md-12">
        <div class="ibox-content">
          <div class="form-group"><label class=" col-sm-2 control-label">Category Name *</label>
            <div class="col-sm-4"><input type="text" class="form-control" name="name" value="" required="" ></div>
            <div class="clearfix"></div>
          </div>
          <div class="form-group"><label class=" col-sm-2 control-label">Slug *</label>
            <div class="col-sm-4"><input type="text" class="form-control"  name="slug" value="" required=""></div>
            <div class="clearfix"></div>
          </div>
          <div class="form-group"><label class=" col-sm-2 control-label">Image</label>
            <div class="col-sm-4"><input type="file" class="form-control" name="file" id="file"/></div>
            <div class="clearfix"></div>
          </div>
          <div class="form-group">
            <div class="col-sm-4"><button type="submit" class="btn btn-primary" >Submit</button> </div>
           
          </div>                                       
        </div>
      </div>
  </form>
</div>


</div>
{% endblock %}
