{% extends "layout.html" %}
{% block title %}
  
{% endblock %}
{% block main %}
  <div class="w3l_banner_nav_right">
      <!-- login -->
     <div class="w3_login">
        <h3>Change Password</h3>
        <div class="w3_login_module">
          <div class="module form-module">
            <div class="toggle">
            
            </div>
            
            <div class="form">
            <h2>Change Password</h2>
            <form action="/changePasswordPost" method="post">
              <input type="email" name="Email" placeholder="Email Address" required=" ">
              <input type="password" name="Password" placeholder="Password" required=" ">
              <input type="password" name="Newpassword" placeholder="New Password" >
              
              <input type="submit" value="Update">
            </form>
            </div>
            
          </div>
        </div>
  
  
{% endblock %}